//bootstrap variable
@import 'bootstrap-variable';

//imports
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans');


//variables

//globals

h1, h2, h3, h4, h5{
  font-family: 'Fredoka One', cursive;
  margin:0;
  padding: 0;
  color: #27241D;
}

p{
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding:0;
  color: #625D52;
}

//style

body{
  background: $background;
}

header, footer{
  background: white;
  height:50px;
  display:flex;
  align-items: center;
}

header{
  background: $primary;
  color: $white;
  h3{
    color: $white;
  }
}

footer{
  background: $primary;
  p{
    color: $white;
  }
}

.btn{
  @extend .btn;
  &-custom-primary{
    background: #FCE588;
    color:#610404;
    font-weight: 500;
    &:hover, &:active, &:focus{
      background: darken(#FCE588, 10%);
      color: darken(#610404, 10%);
    }
  }
}

.modal-title{
  width: 100%;
  text-align: center;
  padding-left: 1rem;
}

label{
  margin:0;
}

.progress{
  height: .7rem;
}
